<h1 mat-dialog-title>Editar Rol</h1>
<mat-dialog-content>
    <form [formGroup]="editRoleForm">
        <div class="row">
            <div class="col-lg-6">
                <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="nombre">
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-label class="f-w-600 m-b-8 d-block">Estado</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="estado">
                        <mat-option value="activo">Activo</mat-option>
                        <mat-option value="inactivo">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-selection-list formControlName="modules">
                  <mat-label class="f-w-600 m-b-8 d-block">Asignar módulos</mat-label>
                  <mat-list-option *ngFor="let module of modules" [value]="module.id">
                    {{ module.nombre }}
                  </mat-list-option>
                </mat-selection-list>
              </div>
        </div>
    </form>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button (click)="onSave()" [disabled]="!editRoleForm.valid">Guardar</button>
</div>