<div class="chatbot-container">
    <button class="chatbot-toggle" (click)="toggleChat()">
      <mat-icon>chat</mat-icon>
    </button>
    <div class="chat-window" *ngIf="isChatOpen">
      <div class="messages">
        <div class="message user-message" *ngIf="message">{{ message }}</div>
        <div class="message bot-response" *ngIf="response">{{ response }}</div>
      </div>
      <div class="input-container">
        <input [(ngModel)]="message" placeholder="Escribe un mensaje..." />
        <button (click)="sendMessage()">Enviar</button>
      </div>
    </div>
  </div>